---
layout: default
prism: true
---


<section class="container max-w-5xl mt-6 px-6">
    <h1 class="font-bold text-5xl">{{offerSettings.title}}</h1>
    {% set offerlist = collections.offer %}

    {% for offer in offerlist | reverse %}
    <article class="my-8 flex flex-col sm:flex-row">
        <div class="sm:w-2/3">
            <h2 class="font-bold text-3xl text-gray-900 mb-2">
                <a href="{{ offer.url | url }}">
                    {% if offer.data.title %}
                    {{ offer.data.title }}
                    {% else %}
                    Untitled
                    {% endif %}
                </a>
            </h2>
            {% if offer.data.description %}
            <p class="text-lg text-gray-500 mb-3">
                {{ offer.data.description }}
            </p>
            {% endif %}
            <p>
                <strong>Price:</strong> {{ offer.data.price }}
            </p>
        </div>
        <div class="sm:w-1/3">
            <a href="{{ offer.url | url }}">
                {% if offer.data.thumbnail %}
                    <img class="" src="{{offer.data.thumbnail}}" alt="{{offer.data.thumbnail}}">
                {% else %}
                    <img class="" src="{{offerSettings.defaultThumbnail}}" alt="{{offer.data.thumbnail}}">
                {% endif %}
            </a>
        </div>
    </article>
    {% endfor %}
</section>

